/* custom.css */

.navbar {
    background: rgba( 80, 227, 194, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    width: 100%; /* Full width */
    margin: 0; /* Remove any margin */
    padding: 0.5rem 1rem; /* Adjust padding for vertical space */
    position: fixed; /* Keep it fixed */
    top: 0; /* Position at the top */
    left: 0; /* Ensure it starts from the left edge */
    z-index: 1000; /* Keep it above other content */
    height: 56px; /* Standard and fixed navbar for body to follow up */
}

.navbar-brand {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.navbar-nav .nav-link {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  line-height: 2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
}






body {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    margin: 20px; /* Adds margin around the body */
    padding: 20px; /* Adds padding inside the body */
    padding-top: 56px; /* Adjust based on the navbar height (56px is standard bootsrap navbar)*/
    padding-bottom: 50px; /* Prevent content from being hidden behind the footer */
    margin: auto; /* Centers the body content */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    transition: background-image 5s ease-in-out, opacity 5s ease-in-out; /* Smooth transition */
}

.fade-out {
    opacity: 0; /* Fade out */
}

.fade-in {
    opacity: 1; /* Fade in */
}



.footer {
    background: rgba( 80, 227, 194, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-sizing: border-box;  /* Include padding/border in total width/height */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Set the desired height */
    color: black; /* Text color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}







/* styling the generated components from Markup */

blockquote {
    border-left: 5px solid #ccc;
    padding-left: 1rem;
    font-style: italic;
    color: #6c757d;
}

blockquote footer {
    display: block;
    color: #6c757d;
    font-size: 0.9rem;
}


pre {
    background-color: #f8f9fa; /* Light background */
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: auto;
    font-size: 0.9rem;
    color: #212529;
}

code {
    background-color: #e9ecef;
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
    color: #d63384;
    border-radius: 0.25rem;
}


table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

thead {
    background-color: #e9ecef;
}

tbody tr:hover {
    background-color: #f1f3f5;
}


ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
    list-style-type: disc;
}

ol {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}



img {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}


hr {
    border: 0;
    height: 1px;
    background-color: #e9ecef;
    margin: 2rem 0;
}




input[type="checkbox"] {
    margin-right: 0.5rem;
}

ul.task-list {
    list-style-type: none;
    padding-left: 0;
}

ul.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}






/* Styling for wrapped classes by zola templating  */

/* Index page */
/* Adding transition to background image changes */

.home-page {
    min-height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.site-title {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.site-quote {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
  font-style: italic;
}

.home-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dynamic-bg {
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; /* Smooth transition */
}

/* horizontal line  */
.hr-custom {
    border-top: 3px solid #343a40;
    width: 100%;
    margin: 1.5rem auto; /* Centers the hr */
}


/* Individual page rendering  */

.page .page-container {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    max-width: 1400px; /* Set the maximum width for the post box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 20px; /* Padding inside the box */
}

.page .page-title {
    color: #555555; /* Darker font for the title */
    text-align: center;
    letter-spacing: 0.2rem;
}

.page .page-description {
    font-style: italic;
    color: #555555; /* Slightly lighter font for the description */
    margin-bottom: 15px;
}

.page .page-content {
    color: #666666; /* Content font color */
}


/* group section rendering  */

.post-snippet {
    font-family:
    "Varela Round",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    font-size: 1rem; /* Adjust font size */
    font-weight: 400;
    color: #666666; /* Muted color for the snippet */
    margin-top: 10px; /* Spacing above the snippet */
    margin-bottom: 10px; /* Spacing below the snippet */
}

.card {
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}

.tags {
    display: flex; /* Flexbox layout for tags */
    flex-wrap: wrap; /* Allow tags to wrap onto the next line */
    margin-top: 10px; /* Space above tags */
}

.badge {
    margin-right: 5px; /* Space between tags */
}

.container {
    max-width: 1400px; /* Set max width for the container */
    margin: 0 auto; /* Center the container */
}




/* Styling for dynamic classes by javascript  */